.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #2b3e50; */
  /* background-color: yellow; */
  /* width: 80%; */
}
#assistant1a-form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;

  background-color: #2b3e50;
}
.zone-radio {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #2b3e4f;
  color: rgb(189, 189, 189);
  font-size: 12px;
}
.zone-radio label.active {
  color: #0075ff; /* Couleur du label actif */
}

/* .zone-radio input[type="radio"] { */
/* margin-right: 2px;  */
/* margin-bottom: 10px; */
/* } */

.zone-radio label {
  display: block; /* Chaque label sur sa propre ligne */
  /* margin-bottom: 5px; */
  margin-right: 8px;
}

.zone-scrib {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2b3e4f;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.second-part {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-right: 10px;
  padding-left: 10px;
}

#assistant1a-submit,
#assistant1a-record,
#assistant1a-stop,
#assistant1a-file-submit {
  margin-left: 4px;
}

#assistant1a-question {
  /* flex-grow: 1; */
  margin-right: 8px;
  margin-left: 8px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: 1px solid #4e5d6c;

  padding: 10px;
  min-height: 50px;
  background-color: #2b3e50;
  width: 550px;
}

#assistant1a-file-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* margin-top: 20px; */
  /* width: 100%; */
}

#assistant1a-file {
  justify-content: flex-start;
  margin-right: 8px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #485563;
  font-size: 12px;
}
#assistant1a-file-submit,
#assistant1a-cancel-file {
  font-size: 12px;
  margin-right: 8px;
}

#assistant1a-response,
#assistant1a-file-upload-status {
  font-family: Arial, sans-serif;
  color: white;
}

#assistant1a-record img {
  width: 24px;
  height: auto;
}

#assistant1a-stop {
  height: 50px;
  margin-right: 4px;
  font-size: 12px;
}

#assistant1a-submit img {
  width: 24px;
  height: auto;
}
#assistant1a-reset {
  font-size: 12px;
}

/* Style de base pour tous les boutons, états désactivés et actifs spécifiques */
#assistant1a-form button.custom-button {
  background-color: #4e5d6c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}
#copyButton {
  background-color: #4e5d6c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  /* transition: background-color 0.3s, opacity 0.3s; */
}
#saveButton {
  background-color: #4e5d6c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  /* transition: background-color 0.3s, opacity 0.3s; */
}

#assistant1a-form button.custom-button:disabled,
#assistant1a-form input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#assistant1a-form button.custom-button.active {
  opacity: 1;
}

#assistant1a-form #assistant1a-record.recording {
  background-color: red;
  opacity: 1;
}
#assistant1a-response {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #4e5d6c;
  border-radius: 5px;
}

fieldset {
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
  border: 1px solid #4e5d6c;
}
fieldset legend {
  color: #fff; /* Couleur du texte */
  font-size: 14px; /* Taille du texte */

  padding: 5px 5px; /* Espacement interne pour mieux encadrer le texte */
}

.charger {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#assistant1a-file-upload-status {
  /* width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 30px;
  /* background-color: #0075ff; */
}

.loader {
  border: 6px solid #f3f3f3;

  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
