#assistant1a-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#assistant1a-submit,
#assistant1a-record,
#assistant1a-stop,
#assistant1a-file-submit {
  margin-left: 4px;
}

#assistant1a-question {
  flex-grow: 1;
  margin-right: 8px;
  font-size: 16px;
  color: black;
  padding: 10px;
  min-height: 50px;
}

#assistant1a-file-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
}

#assistant1a-file {
  justify-content: flex-start;
  margin-right: 8px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #485563;
}

#assistant1a-response,
#assistant1a-file-upload-status {
  font-family: Arial, sans-serif;
  color: white;
}

#assistant1a-record img {
  width: 24px;
  height: auto;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style de base pour tous les boutons, états désactivés et actifs spécifiques */
#assistant1a-form button.custom-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

#assistant1a-form button.custom-button:disabled,
#assistant1a-form input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#assistant1a-form button.custom-button.active {
  opacity: 1;
}

#assistant1a-form #assistant1a-record.recording {
  background-color: red;
  opacity: 1;
}
#assistant1a-response {
  color: black;
  border: 1px;
  border-color: black;
  border-radius: 5px;
}
