.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Assurez-vous que ce conteneur est aussi flexible */
  max-width: 1000px; /* ou une autre largeur maximale appropriée */
  margin: auto; /* Centre le widget si moins large que la page */
}

#instructionText {
  color: yellow;
  font-weight: 100;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  display: block;
}

#assistant1a-form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  /* background-color: #2b3e50; */
}
.zone-radio,
.zone-checkbox,
#assistant1a-session-section,
#assistant1a-file-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #2b3e4f;
  color: rgb(189, 189, 189);
  font-size: 12px;
  /* height: 40px; */
}

/* #assistant1a-file-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
} */

.zone-radio label.active,
.zone-checkbox label.active {
  color: #0075ff; /* Couleur du label actif */
}
#toggleHistoryCheckbox {
  color: rgb(189, 189, 189);
}

.zone-radio label {
  display: block; /* Chaque label sur sa propre ligne */
  /* margin-bottom: 5px; */
  margin-right: 8px;
}
.zone-containRadio fieldset {
  /* background-color: violet; */
  width: 100%;
}

.zone-containRadio {
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */

  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

#zone-session {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; */
  /* background-color: #0075ff; */
  /* background-color: yellow; */

  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.zone-ctrlFIcSess {
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 5px;
  width: 100%;
}

.zone-scrib {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  margin-bottom: 30px;
  margin-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.zone-ctrlFIcSess fieldset {
  /* margin: 5px; */
  border: 1px solid #4e5d6c;
  padding: 10px;
  box-sizing: border-box;
  /* width: calc(50% - 10px);
  min-width: 300px; */
}

@media (max-width: 600px) {
  .zone-ctrlFIcSess fieldset {
    width: 100%;
  }
}

#assistant1a-record,
#assistant1a-stop {
  margin-left: 4px;
}

#assistant1a-question {
  width: 100%; /* Utilise la largeur complète de son conteneur */
  max-width: 600px; /* Adaptez cette valeur en fonction de votre design */
  min-height: 110px; /* Hauteur minimale pour améliorer la visibilité */
  /* margin: 8px 8px;  */
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 10px;
  background-color: #2b3e50;
  color: rgb(255, 255, 255);
  border: 1px solid #4e5d6c;
  box-sizing: border-box;
  font-size: 12px;
  margin-right: 16px;
  margin-left: 8px;
}

#assistant1a-question::placeholder {
  color: #75756f; /* Définissez la couleur désirée pour le placeholder */
  opacity: 1; /* Assurez-vous que la couleur est bien visible */
}

#assistant1a-history,
#assistant1a-response,
#assistant1a-file-upload-status {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 12px;
}

#assistant1a-record img {
  width: 24px;
  height: auto;
}

#assistant1a-stop {
  height: 50px;
  margin-right: 4px;
  font-size: 12px;
}

#assistant1a-submit img {
  width: 24px;
  height: auto;
}

/* Style de base pour tous les boutons, états désactivés et actifs spécifiques */
/* #zone-session button.custom-button, */
/* #assistant1a-file, */
#assistant1a-form button.custom-button {
  /* background-color: #4e5d6c; */
  background-color: #60686f;
  /* background-color: yellow; */
  height: 55px;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  font-size: 12px;
  margin-right: 8px;
  /* margin-top: 8px; */
}

#assistant1a-file {
  height: 55px;
  padding: 15px 10px;
  color: #ffffff;
  font-size: 12px;
  margin-right: 8px;
  background-color: #485563;
}

#assistant1a-form button.custom-button.assistant1a-cancel-file {
  margin-right: 0px;
  /* background-color: yellow; */
}

/* #assistant1a-file-submit,
#assistant1a-cancel-file,
#assistant1a-file,
#assistant1a-reset {
  font-size: 12px;
  margin-right: 8px;
  margin-top: 8px;
  background-color: yellow;
} */

#copyButton,
#saveButton {
  background-color: #4e5d6c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  margin-top: 30px;
  /* transition: background-color 0.3s, opacity 0.3s; */
}
#response-actions label {
  /* background-color: #4e5d6c; */
  color: white;
  padding: 10px 20px;
  /* border: none; */
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
  /* transition: background-color 0.3s, opacity 0.3s; */
}

#assistant1a-form button.custom-button:disabled,
#assistant1a-form input:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

#assistant1a-form button.custom-button.active {
  opacity: 1;
}

#assistant1a-form #assistant1a-record.recording {
  background-color: red;
  opacity: 1;
}
#assistant1a-history,
#assistant1a-response {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #4e5d6c;
  border-radius: 5px;

  width: 100%; /* Utilisez 100% pour la largeur pour une meilleure adaptabilité */
  max-width: 800px; /* Fixe la largeur maximale à 800px */
  overflow-x: hidden; /* Empêche le débordement horizontal */
  overflow-y: auto; /* Permet le défilement vertical si le contenu est trop long */

  background-color: #4e5d6c; /* Couleur de fond légère pour les conteneurs */
  border: 1px solid #ccc;
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur calculée */
}

#assistant1a-history {
  height: 300px; /* Fixe la hauteur pour l'histoire */
}

fieldset {
  /* margin: auto;  */
  margin-left: 2px;
  border: 1px solid #4e5d6c;
  padding: 10px;
  box-sizing: border-box;
}

fieldset legend {
  color: #fff; /* Couleur du texte */
  font-size: 14px; /* Taille du texte */

  padding: 5px 5px; /* Espacement interne pour mieux encadrer le texte */
}

.charger {
  flex-direction: column; /* Aligner les enfants verticalement */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* margin-top: -50px; */
}

.loader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 60px;
}

.loader .bar {
  width: 10px;
  height: 20px;
  background-color: #4e5d6c;
  animation: pulse 1s infinite ease-in-out;
}

.loader .bar:nth-child(2) {
  animation-delay: 0.2s;
}

.loader .bar:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%,
  100% {
    height: 20px;
  }
  50% {
    height: 60px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------ */

/* Style des titres uniquement dans le conteneur de réponse du widget */
#assistant1a-response h1,
#assistant1a-response h2,
#assistant1a-response h3 {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  color: #eaff00; /* Exemple de couleur */
  font-size: 1.2em; /* Taille de police plus petite pour une harmonie avec le texte */
}
#assistant1a-response h4 {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  color: rgb(156, 156, 156); /* Exemple de couleur */
  font-size: 1em; /* Taille de police plus petite pour une harmonie avec le texte */
}

/* Style des paragraphes dans le conteneur de réponse */
#assistant1a-response p {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}
#assistant1a-response {
  display: none;
}
#assistant1a-history {
  display: none;
}

/* Espacement autour des listes dans le conteneur de réponse */
#assistant1a-response ul,
#assistant1a-response ol {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  padding-left: 20px;
}

/* Espacement après une liste si suivie par un titre dans le même conteneur */
#assistant1a-response ul + h1,
#assistant1a-response ul + h2,
#assistant1a-response ul + h3,
#assistant1a-response ol + h1,
#assistant1a-response ol + h2,
#assistant1a-response ol + h3 {
  margin-top: 1.5em;
}

#assistant1a-history .question,
#assistant1a-history .response {
  color: lightgrey; /* Couleur pour les questions */
  font-weight: bold; /* Mettez en gras */
}

#assistant1a-history .prefix {
  font-weight: bold; /* Met en gras seulement le préfixe */
  display: block;
  margin-bottom: 0;
}

#assistant1a-history .message {
  font-weight: normal; /* Assure que le message n'est pas en gras */
  display: block;
  margin-top: 0;
  margin-left: 20px;
}

#staticMessage {
  color: #cccccc;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 15px; /* Ajustez selon l'espacement désiré */
  display: none; /* Caché par défaut, affiché uniquement lors de l'activation du loader */
}

.loading-message {
  color: white;
  text-align: center;
  font-size: 14px;
  display: none;
  animation: blinkingText 1.2s infinite;
  margin-bottom: 5px;
}

@keyframes blinkingText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cost-estimate {
  color: white;
  text-align: center;
  font-size: 12px;
}
